img.banner {
    width: 700px;
}

.home-content {
    background-color: #F7F7F7;
}

.topwave {
    width: 100%;
}

.hr-purple {
    background-color: #845EC2;
    padding: 3px 5px 5px 5px;
    width: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 999px;
}

.botwave {
    width: 100%;
}

.wave-content {
    background-color: #845EC2;
}

.wave-content h1 {
    color: #FFC75F;
}

hr {
    color: white;
}

.card {
    background-color: #845EC2;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

h3.purple-text {
    color: #845EC2;
}