.carousel-member {
  width: 100%;
  height: 300px;
  object-fit: none;
  filter: brightness(50%);
}

.carousel-member-lg {
  width: 100%;
  height: 384px;
  object-fit: none;
  filter: brightness(50%);
}

.meals-package {
  color: #845ec2;
}

.card-meals h5 {
  color: #ffffff;
}

.meals {
  border: 1px solid #ffffff;
}
