.carousel-member {
    width: 100%;
    height: 300px;
    object-fit: none;
    filter: brightness(50%);
}

.meals-package {
    color: #845EC2;
}

.card-meals h5 {
    color: #FFFFFF;
}

.meals {
    border: 1px solid #FFFFFF;
}