img {
  width: 75px;
}

.navbar {
  height: 75px;
  background: #845ec2;
}

.btn-login {
  background: #845ec2;
}

.btn-login:hover {
  background: #845ec2;
}

.btn-register {
  color: #845ec2;
}

.btn-register:hover {
  color: #845ec2;
}

.nav-member {
  background: #e6dff3;
}

.btn-member {
  background-color: #472e71;
  padding-inline: 10px;
  margin-inline: 10px;
  border-radius: 5px;
}

.btn-member ul li {
  text-decoration: none;
}
