h1 {
  color: #845ec2;
}

.button {
  background-color: #472e71;
}

.circle-yellow-lg {
  width: 180px;
  height: 180px;
  border-radius: 999px;
  background: #ffc75f;
  position: absolute;
  z-index: -5;
}

.circle-light-yellow-lg {
  background: #f9f871;
  width: 110px;
  height: 110px;
  border-radius: 999px;
  position: absolute;
  z-index: -5;
}

.stroke-circle-yellow-lg {
  position: absolute;
  width: 180px;
  height: 180px;
  border: 10px solid #ffc75f;
  border-radius: 999px;
  z-index: -5;
}

.half-circle {
  width: 200px;
  height: 100px;
  background-color: #ffc75f;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border-bottom: 0;
  position: absolute;
  z-index: -5;
  transform: rotate(270deg);
}
